@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes wave {
  0% { transform: translateX(0) translateY(0); }
  50% { transform: translateX(-25%) translateY(-20px); }
  100% { transform: translateX(0) translateY(0); }
}
.animate-wave {
  animation: wave 15s ease-in-out infinite;
}


@layer utilities {
  .perspective-3d {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
}


/* globals.css */
.backdrop-blur-sm {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}